.relative {
  position: relative
}

.bottom-10 {
  bottom: 2.5rem
}

.z-20 {
  z-index: 20
}

.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mb-14 {
  margin-bottom: 3.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-7 {
  margin-bottom: 1.75rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-8 {
  margin-top: 2rem
}

.mt-7 {
  margin-top: 1.75rem
}

.flex {
  display: flex
}

.h-1 {
  height: 0.25rem
}

.h-1\/2 {
  height: 50%
}

.h-screen {
  height: 100vh
}

.h-\[1px\] {
  height: 1px
}

.h-\[2px\] {
  height: 2px
}

.w-1\/3 {
  width: 33.333333%
}

.w-\[84\%\] {
  width: 84%
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-bl-2xl {
  border-bottom-left-radius: 1rem
}

.rounded-bl-full {
  border-bottom-left-radius: 9999px
}

.rounded-tl-2xl {
  border-top-left-radius: 1rem
}

.rounded-tr-2xl {
  border-top-right-radius: 1rem
}

.border-4 {
  border-width: 4px
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

.bg-\[\#F50316\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 3 22 / var(--tw-bg-opacity, 1))
}

.bg-\[\#FFFCF0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 252 240 / var(--tw-bg-opacity, 1))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1))
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1))
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 3 22 / var(--tw-bg-opacity, 1))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.p-8 {
  padding: 2rem
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem
}

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-light {
  font-weight: 300
}

.font-medium {
  font-weight: 500
}

.leading-6 {
  line-height: 1.5rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(245 3 22 / var(--tw-text-opacity, 1))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}
