.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.flex {
  display: flex
}

.h-1\/2 {
  height: 50%
}

.h-screen {
  height: 100vh
}

.w-2\/3 {
  width: 66.666667%
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded {
  border-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1))
}

.bg-\[\#F50316\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 3 22 / var(--tw-bg-opacity, 1))
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-medium {
  font-weight: 500
}

.font-bold {
  font-weight: 700
}

.leading-6 {
  line-height: 1.5rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1))
}
